body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Rubik', sans-serif;
  color: #666;
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 700;
}

h2 {
  line-height: 1.2;
  margin: 0;
  color: #444;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 34px;
  text-transform: uppercase;
}

p {
  font-size: 15.2px;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  background: url(../assets/img/intro-bg-min.jpg) no-repeat center center;
  background-size: cover;
}

p.intro {
  font-size: 16px;
  margin: 12px 0 0;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #222;
}

ul, ol {
  list-style: none;
}

.bot {
  bottom: 97px;
}

ul, ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: rgb(107, 77, 168);
  /* Old browsers */
  background: linear-gradient(to right, rgba(107, 77, 168, 1) 0%, rgba(73, 119, 194, 1) 100%);
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}

/* Navigation */

#nav {
  z-index: 9999;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-custom {
  margin-bottom: 0;
  background-color: black;
  border-radius: 0px;
  padding: 10px 0;
}

.navbar-custom .navbar-brand {
  font-weight: 600;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom a {
  color: #aaa;
}

.navbar-custom .nav li a {
  margin: 0 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: #d760eb;
  background-color: transparent;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  color: #d760eb;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}

.btn-default {
  border-radius: 0px;
  color: #822b81;
}

.btn-primary {
  background-color: #822b81;
  border-radius: 0px;
  transition: 0.2s;
  border: 0px;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #b483c9;
}

/* Home Section */

.intro .overlay {
  padding: 100px 0;
  background-color: rgba(95, 75, 139, 0.3);
  height: 100vh;
}

.section-title.center {
  padding: 25px 0 0px 0;
  /* margin-top: 30px; */
}

/* About Section */

.mar-top {
  margin-top: 4%;
}

#about {
  padding: 100px 0;
  background: #f6f6f6;
}

#about .about-text {
  margin-left: 10px;
}

#about img {
  float: right;
}

#about p {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Skills Section */

#skills {
  padding: 100px 0;
  background: rgb(107, 77, 168);
  /* Old browsers */
  background: linear-gradient(to right, black 0%, rgba(215, 96, 235, 0.85) 100%);
}

#skills h2 {
  color: #fff;
}

#skills hr {
  background: rgba(255, 255, 255, 0.3);
}

.white {
  color: white;
}

/* Contact Section */

#contact {
  color: #fff;
  background: url(../assets/img/paperpro.jpg) no-repeat center top;
  background-color: #7bc3d1;
  background-position: top;
  background-size: cover;
}

#contact .overlay {
  padding: 100px 0 40px 0;
  background: linear-gradient(to right, black 0%, rgba(215, 96, 235, 0.85) 100%);
}

#contact h2 {
  color: #fff;
}

#contact hr {
  background: rgba(255, 255, 255, 0.3);
}

#contact i.fa {
  color: #121d1f;
  margin-bottom: 10px;
}

#contact .text-danger {
  color: #E87E04;
  text-align: left;
}

#contact .social, .social1 {
  margin-top: 80px;
}

#contact .social ul li, .social1 ul li {
  display: inline-block;
  margin: 0 20px;
}

.letter {
  color: #822b81;
}

.red {
  font-size: 30px;
  transition: all 0.5s;
}

.red:hover {
  color: black;
}

.mail {
  font-size: 12pt;
}

.thumbnail {
  box-shadow: 5px 5px 5px #822b81;
}

/* Footer Section*/

#footer {
  background: black;
  color: #777;
  padding: 30px 0 25px 0;
}

#footer p {
  font-size: 13px;
}

#footer a {
  color: #aaa;
}

#footer a:hover {
  color: #526cbb;
}

/* Media Queries */

@media(min-width:768px) {
  .intro {
    height: 100%;
    padding: 0;
    color: #fff;
  }
  .intro H1 {
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .intro .intro-text p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  section {
    padding: 120px 0;
  }
  header .intro-text {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (max-width: 320px) {
  .redso {
    font-size: 9pt;
  }
}

@media (max-width: 1024px) {
  #about img {
    float: left;
    margin-bottom: 20px;
  }
}
